table {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: #FFF;
  color: SteelBlue; /*#024457;*/
  /*border-radius: 10px;*/
  /*border: 1px solid #167F92;*/
}

caption {
  text-align: left;
  color: silver;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}

thead {
  background: SteelBlue;
  color: white;
}

th,
td {
  padding: 5px 10px;
}

tbody tr:nth-child(odd) {
  /*background: WhiteSmoke;*/
  background-color: #EAF3F3;
  border: 1px solid #D9E4E6;
}

tbody tr td:nth-child(2) {
  text-align:center;
}

tbody tr td:nth-child(3),
tbody tr td:nth-child(4) {
  text-align: center;
  font-family: monospace;
}

tfoot {
  background: SeaGreen;
  color: white;
  text-align: right;
}

tr.tfoot th{
  background: SeaGreen;
  color: white;
  text-align: right;
}

.seaGreen {
  background: SeaGreen;
  color: black;
  text-align: right;
  font-family: "Helvetica Neue";
  font-weight: bold;
  font-size: 18px;
}

.steelBlue {
  background: #EAF3F3;
}

tfoot tr th:last-child {
  font-family: monospace;
}

tr.tfoot th:last-child {
  font-family: monospace;
}